:root{
    --dark: #424242;
    --gold: #D9B466;
}
h1, h2, h3, h4, h6 {
    font-family: 'Poiret One', cursive;
}
p, span, a, li, figcaption, label, input {
    font-family: 'Nanum Gothic', sans-serif;
}

.bg-sombre{
    background-color: var(--dark);
}

.border-gold{
    border-bottom: 2px solid var(--gold);
}

.color-sombre{
    color: var(--dark);
}

.color-gold{
    color: var(--gold);
}

@media screen and (min-width: 576px ) {
    .bg-sombre{
        background-color: #fff;
    }
}